<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="http://www.f-robots.com">Project Mgtm</a></h1>

  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to('Home', root_path) %></li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <%== intellinav %>
    </ul>

  </section>
</nav>